[Unit]
Description=LSGP virtual machine starter

[Service]
ExecStart=/usr/bin/bash -c 'lsgp $(awk -F: '"'"'{ print $1" "$2 }'"'"' <<< %i)'

[Install]
WantedBy=multi-user.target
