[Unit]
Description=Changes the cpu governor to performance

[Service]
RemainAfterExit=yes

ExecStart=/usr/bin/bash -c 'for i in /sys/devices/system/cpu/cpu[0-9]*/cpufreq/scaling_governor; do echo "performance" > $i; done'

ExecStop=/usr/bin/bash -c 'for i in /sys/devices/system/cpu/cpu[0-9]*/cpufreq/scaling_governor; do echo "powersave" > $i; done'

[Install]
WantedBy=multi-user.target
